<!DOCTYPE html>
<html>
<head>
	<title>slack runtime chat</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">

	<style type="text/css">
		
		.chat {

			background: #61b4c1;
		    color: white;
		    font-size: 20px;
	        border-radius: 10px;

		}

		.message {

			padding: 5px 10px;
		}

		.me {

			color: #ffc107;
		}

		.other {

			color : #dc3545;
		}


	</style>
</head>
<body>

	<div id="app">


		<div class="mt-4 col-md-6 offset-md-3">
			
			<h3>Simple web app :D</h3>

			<!-- Users -->

			<div v-if="chatAvailable" class="users" v-for="user in users">
				<p>
					<span>{{ user.name }} </span>
					<a href="#" @click="inviteUser(user.id)" class="btn btn-primary btn-sm">Invite</a>
				</p>
				
			</div>

			<!-- start creating channel -->

			<div v-if="!chatAvailable">

				<div class="form-group">
					<input type="text" class="form-control" v-model="channelName" placeholder="Channel name">
				</div>
			
				<button @click="creatChannel" class="btn btn-success">Create channel</button>

			</div>


			<!-- start chating area -->

			<div v-if="chatAvailable">

				<h3> Channel name :  <b> {{ channelName }} </b> </h3>

				<div class="form-group chat">
					<div class="message" v-if="messages" v-for="message in messages">
						<span class="name" :class="message.type">{{ message.user }} </span> :
						{{ message.text }}
					</div>
				</div>

				<div class="form-group">
					<textarea class="form-control" v-model="chatMessage"></textarea>
				</div>

				<button class="btn btn-primary" @click="sendMessage">Send message</button>			



			</div>

		</div>
	
	</div>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script type="text/javascript" src="./main.js"></script>
</body>
</html>